 body{
            border: 20px groove black;
        }
        #timer{
            display: flex;
            justify-content: center;
        }
        #one{
            width:500px;
            height:200px;
            background-color: aqua;
            font-size: 60px;
            text-align: center;
            align-content: center;
            border-radius: 20px;
            box-shadow: 5px 5px 2px black;
            margin:30;
        }
        #letsee{
            display:flex;
            justify-content: center;
            background-color: red;
        }
        #text{
            font-size: 30px    ;
        }
        .digit{
            font-size: 100px;
        }
        #text{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        #BUTTONHEAD{
            display: flex;
            justify-content: space-evenly;
            
        }

        .buttonend{
            width: 100px;
            height:50px;
            font-size:20px;
            background-color: greenyellow;
            transition: 2s all; 
        }
        .buttonend:hover{
            width:150px;
            height:70px;
            background-color: green;
            font-size: 30px;
        }
        